<form method= "post" action= "edit_user_delivery">
    <input type= "hidden" name= "delivery[user]" value= <%= @user.id %> 
    <p>Address <input type= "text" name= "delivery[address]">
    <p>----------------------------------------------------</p>
    meal_field_maker
    <p>----------------------------------------------------</p>
    <p>Proceed to Payment <input type= "submit" value= "Proceed">
</form>