<h3>In-Progress Deliveries:</h3>
<% if user_deliveries_pending(sel_user) != nil %>
  <p>
    <%= display_deliveries(user_deliveries_pending(sel_user)) %>
  </p>
<% else %>
  <p> Your In-Progress Deliveries Will Appear Here </p>
<% end %>
<br>
<br>
<br>
<h3>Completed Deliveries:</h3>
<% if user_deliveries_completed(sel_user) != nil %>
  <p>
    <%= display_deliveries(user_deliveries_completed(sel_user)) %>
  </p>
<% else %>
  <p> Your Completed Deliveries Will Appear Here </p>
<% end %>
