<h1>
    <strong>Welcome to Lanese Pizzeria and Restuarant<strong>
</h1>
<h2>Login, Sign-Up, or continue as a Guest</h2>
<%= button_to "Login", login_path %>
<br>
<%= button_to "Sign-Up", signup_path %>
<br>
<%= button_to "Guest"%>
<br>
<h2>Just Browsing?</h2>
<p>Click <%= link_to "here"%> to see the menu</p>